.weather-display {
  border-radius: 20px;
}

.weather-display li {
  text-transform: capitalize;
}


.weather-display .temperature {
  font-size: 48px;
}

.weather-display .condition {
  list-style-type: none;
}

.weather-forecast {
  border-radius: 20px;

}

.weather-forecast p {
  text-align: center;
}

.weather-forecast img {
  display: block;
  margin: auto;
  width: 80px;
}

