.weather-display {
  border-radius: 20px;
}


.weather-display .temperature {
  font-size: 48px;
}

.weather-display .condition {
  list-style-type: none;
}

.weather-forecast {
  border-radius: 20px;
}
